@media(max-width: 1024px){

    .bg-img-2023{
        height: auto;
    }

    .brown-div{
        margin: 0 auto;
        height: 60px;
    }

    .brown-h3{
        width: 80%;
        font-size: 12px;
        height: auto;
    }

    .first-div{
        height: auto;
    }
    .burger-bar{
        display: flex;
        color: #713C25;
    }

    .nav-ul{
        display: none;
    }

    .navigation-block{
        width: 90%;
        margin: 0 auto;
        background: none;
    }

    .first-div{
        height: auto;
    }

    .div-2023{
        width: 30%;
        height: auto;
        margin-left: 40px;
        transform: rotate(90deg);
    }

    .img-2023{
        width: 100%;
        margin: 0 auto;
    }

    .footer-div{
        bottom: 500px;
    }

    .for-logo{
        padding-top: 250px;
    }

    .width-the-young{
        margin-left: 20px;
        width: 90%;
    }

    .Collection{
        width: 90%;
        flex-wrap: wrap;;
        height: auto;
    }

    .collec-img-1{
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding-top: 0%;
        transition: width 2s, height 4s;
        cursor: pointer;
    }

    .collec-img-1:hover{
        width: 80%;
        height: 80%;
    }
    .collec-img-2{
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding-top: 0%;
        transition: width 2s, height 4s;
        cursor: pointer;
    }
    .collec-img-2:hover{
        width: 80%;
        height: 80%;
    }

    .collec-img-3{
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding-top: 0%;
        transition: width 2s, height 4s;
        cursor: pointer;
    }

    .collec-img-3:hover{
        width: 80%;
        height: 80%;
    }
}

@media(min-width: 320px) and (max-width: 620px){
    .div-2023{
        width: 30%;
        height: auto;
        margin-left: 40px;
        margin-top: 150px;
        transform: rotate(90deg);
    }

    .arrow{
        top: 35%;
        left: 20%;
    }

    .img-2023{
        width: 100%;
        margin: 0 auto;
    }

    .brown-div{
        margin: 0 auto;
        height: 60px;
        text-align: center;
        position: relative;
    }

    .brown-h3{
        width: 80%;
        font-size: 8px;
        height: auto;
        height: 20px;
        left: 0%;
        position: absolute;
        animation-name: text;
        height: auto;
        animation: text 5s infinite;
        animation-direction: alternate;
    }
    
    @keyframes text{    
        from {bottom: 2px;}
        to {bottom: 10px;}  
    }

    .for-logo{
        padding-top: 150px;
    }

    .footer-div-2{
        flex-wrap: wrap;
        width: 90%;
    }
}




















  