@media(min-width: 320px) and (max-width: 360px) {
    .div-2023{
        height: 60%;
        width: 50%;
        margin-left: 40px;
        margin-top: 200px;
        transform: rotate(90deg);
    } 
}

@media(min-width: 320px) and (max-width: 620px){
 
    .arrow{
        top: 35%;
        left: 20%;
    }

    .brown-div{
        margin: 0 auto;
        height: 60px;
        text-align: center;
        position: relative;
    }

    .brown-h3{
        width: 80%;
        font-size: 8px;
        height: auto;
        height: 20px;
        left: 0%;
        position: absolute;
        animation-name: text;
        height: auto;
        animation: text 5s infinite;
        animation-direction: alternate;
    }
    
    @keyframes text{    
        from {bottom: 2px;}
        to {bottom: 10px;}  
    }

    .for-logo{
        padding-top: 150px;
    }

    .footer-div-2{
        flex-wrap: wrap;
        width: 90%;
    }

    .Collection{
        width: 90%;
        flex-wrap: wrap;;
        height: auto;
    }

    .collec-img-1{
        width: 90%;
        height: 600px;
        margin: 0 auto;
        padding-top: 0%;;
    }

    .collec-img-1:hover{
    width: 400px;
    height: 600px;
   }
  
    .img-1{
        width: 60%;
        height: auto;
    }

    .coll-h2{
        width: 30%;
        padding-bottom: 10px;
        font-size: 25px;
    }  
}

@media(max-width: 800px){

    .new-div{
        width: 90%;
    }

    .title{
        width: 90%;
    }

   .title-3{
    width: 70%;
    font-size: 60px;
}

    .title-4{
    width: 60%;
    top: 270px;
    left: 30px;
}

   .click-box-3{
    left: 10px;
    top: 1px;
}

   .title-2{
      width: 70%;
      font-size: 40px;
      left: 100px;
      top:150px
}

.title-1{
    font-size: 30px;
    left: 50px;
}

   .mrgvali{
      width: 30%;
      left: 30%;
}

   .wmn{
      width: 50%;
      left: 50%;
      top: 30%;
} 

   .badge{
      width: 40%;
      left: 200px; 
} 
/* dasasruli */
    .navigation{
        display: none;
    }

    .burger-bar{
        display: block;
    }

    .navigation-block{
        padding: 1px 10px;
    }

    .nav-ul{
        flex-direction: column;
        width: 120px;
        padding-top: 15px;
    }  

    .navigation.activeNav{
        display: block;
    }
}



@media(max-width: 1024px){

    

    .div-2023{
        height: 30%;
        width: 50%;
        margin-left: 40px;
        margin-top: 200px;
        transform: rotate(90deg);
    }

    .contact-info{
        width: 70%;
        flex-wrap: wrap;
        margin: 50px auto;
    }
    
    .social-3{
        width: 80%;
        font-size: 12px;
        flex-wrap: wrap;
    }
    .submit{
        margin: 20px auto;
        width: 20%;
    }

    .contact-h2{
        margin: 50 auto;
        width: 80%;
    }

    .click-about{
        width: 30%;
        left: 20px;
    }

    .bg-img-2023{
        width: 80%;
        height: 500px;
    }

    .brown-div{
        margin: 0 auto;
        height: 60px;
    }

    .brown-h3{
        width: 80%;
        font-size: 12px;
        height: auto;
    }

   
    .footer-div{
        bottom: 500px;
    }

    .for-logo{
        padding-top: 250px;
        transition: width 2s, height 1s;
    }

    .for-logo:hover{
        width: 90%;
    }
    

    .width-the-young{
        margin-left: 20px;
        width: 90%;
    }

    .Collection{
        width: 90%;
        flex-wrap: wrap;;
        height: auto;
    }

    .collec-img-1{
        width: 90%;
        height: 500px;
        margin: 0 auto;
        padding-top: 0%;
    }

  

    .img-1{
        width: 65%;
    }

    .coll-h2{
        width: 30%;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .real{
        left: 20px;
        width: 80%;
        font-size: 40px;
        top: 100px;
    }

    .about-p-2{
        left: 20px;
        top: 350px;
        width: 70%;
        font-size: 15px;
    }

    .about-p{
        left: 20px;
        top: 520px;
        width: 70%;
        font-size: 15px;  
    }

    .about-footer{
        left: 10px;
        top: 720px;
        width: 90%; 
        font-size: 15px;
    }

    /* dasawyisi */
    .new-div{
        width: 90%;
    }

    .title{
        width: 90%;
    }

   .title-3{
    width: 70%;
    font-size: 60px;
}

    .title-4{
    width: 60%;
    top: 270px;
    left: 30px;
}

   .click-box-3{
    left: 10px;
    top: 1px;
}

   .title-2{
      width: 70%;
      font-size: 40px;
      left: 100px;
      top:150px
}

.title-1{
    font-size: 50px;
    left: 50px;
}

   .mrgvali{
      width: 50%;
      left: 50%;
}

   .wmn{
      width: 50%;
      left: 50%;
      top: 20%;
} 

   .badge{
      width: 40%;
      left: 200px; 
} 
}



 













  