/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body{
    background-color: #ddcdac;
}

.navigation-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 60px;  
    -webkit-box-align: center;  
        -ms-flex-align: center;  
            align-items: center; 
    position: relative;
    z-index: 300;
    position: fixed;
    width: 100%;
    top: 0%;
    background: #ddcdac;
    opacity: 0.9;
}

.nav-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 445px;
    padding-top: 25px;
    font-size: 17px;
    font-family: 'Gilroy';
}

.burger-bar{
    color: #713C25;
    position: absolute;
    top: 35px;
    right: 25px;
    display: none;

}

.nav-a{
    font-size: 18px;
    color: #421b0a;
    position: relative;
} 

.nav-a::after{
    content: '';
    height: 1px;
    width: 0px;
    background-color: #BE6C42;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.nav-a:hover::after{
    width: 100%;
}


.womens-img-1{
    max-width: 900px;
    width: 100%;
    height: auto;
    margin-top: 80px;
    margin-left: 60px;
}
 
.womens-img{
    max-width: 897px;
    width: 100%;
    height: auto;
} 

.bg-img-2023{
    background-image: url('../images/Hero.svg');
    max-width: 1200px;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;   
    background-position: center; 
    margin: 0 auto;
    padding-top: 1px;   
}

.first-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 120px auto;
    height: 618px;
}

.img-2023{
    max-width: 180px;
    width: 100%;
}

.div-2023{
    background: auto;
    height: 280px;
    margin-left: 30px;
    margin-top: 270px;
    max-width: 200px;
    width: 100%;
}

.footer-div{
    background-image: url('../images/img.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
}

.brown-div{
    width: 100%;
    height: 50px;
    background-color: #BE6C42;
    margin: 201px auto;
    text-align: center;
    position: relative;
   
}


.text-div{
    max-width: 1300px;
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}
.brown-h3{
    font-size: 16px;
    color: #F7E7CE;
    font-family: 'Gilroy';
    max-width: 400px;
    width: 100%;
    height: 20px;
    left: 0%;
    position: absolute;
    -webkit-animation-name: text;
            animation-name: text;
    height: auto;
    -webkit-animation: text 5s infinite;
            animation: text 5s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@-webkit-keyframes text{    
    from {bottom: 20px;}
    to {bottom: 10px;}  
}

@keyframes text{    
    from {bottom: 20px;}
    to {bottom: 10px;}  
}

.animacion-div-2{
    width: 400px;
    height: 50px;
    position: relative;

}

.fa-angles-right{
    color: #F7E7CE;
    font-size: 12px;
}

.fa-angles-left{
    color: #F7E7CE;
    font-size: 12px;
}

.logo{
    width: 100px;
    height: 80px;
}

/* for */
.for-logo{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    -webkit-transition: width 2s, height 1s;
    -o-transition: width 2s, height 1s;
    transition: width 2s, height 1s;
    cursor: pointer; 
}

.for-logo:hover{
     width: 1100px;
} 

.for{
    max-width: 1200px;
    width: 100%;
    opacity: 0.6;
    margin-bottom: 150px;
}

.footer{
    max-width: 1500px;
    height: 1000px;
    margin: 0 auto;
}

.want{
    font-size: 30px;
    font-family: 'Gilroy';
    color: #713C25;
    margin-bottom: 5px;
}
.follow{
    max-width: 620px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.contact-follow{
    max-width: 620px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
}

.line{
    max-width: 520px;
    width: 100%;
    height: 1px;
    background: #713C25;
}

.social{
    max-width: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-social{
    max-width: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}

.contact-want{
    text-align: center;
    margin: 0 auto;
}

.social-text{
    color: #713C25;
    font-size: 18px;
    font-family: 'Gilroy';
    padding-top: 5px;
}

.social-text-2{
    color: #713C25;
    font-size: 18px;
    font-family: 'Gilroy';
}

.social-2{
    max-width: 120px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 180px;
    padding-top: 15px;
}

.social-3{
    max-width: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;;
    -webkit-box-pack: justify;;
        -ms-flex-pack: justify;;
            justify-content: space-between;
    height: 50px;
    margin: 0 auto;
}

.footer-div-2{
    max-width: 1100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}

.social-text:hover{
 color: #BE6C42;
}


.for-future{
    max-width: 1000px;
    margin: 70px auto;
}

.future{
    width: 100%;
}

.width-the-young{
    font-size: 25px;
    max-width: 600px;
    width: 100%;
    margin-left: 100px;
    margin-top: 2px;
    font-family: 'Gilroy';
    color: #713C25;
}

.width-the-young:hover{
    color: #BE6C42;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
}

.Collection{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
}

.collec-img-1{
    max-width: 390px;
    height: 580px;
    width: 100%;
    padding-top: 120px;
    position: relative;
    -webkit-transition: width 2s, height 1s;
    -o-transition: width 2s, height 1s;
    transition: width 2s, height 1s;
    cursor: pointer;
    background: #F7E7CE;
    position: relative;
    -webkit-box-shadow: -10px 10px 15px 4px #B2A098;
            box-shadow: -10px 10px 15px 4px #B2A098;
}
.collec-img-1:hover{
    width: 400px;
    height: 600px;
}

.coll-h3{
    font-size: 40px;
    color: #713C25;
    position: absolute;
    font-family: 'Gilroy';
    margin-left: 30px;
    margin-top: 370px;
    position: absolute;
    z-index: 200;
}


.coll-h2{
    font-size: 120px;
    color: #c47d59;
    position: absolute;
    font-family: 'Gilroy';
    margin-top: 30px;
    position: absolute;
    z-index: 203;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    padding-bottom: 50px;
}

.coll-h5{
    font-family: 'Gilroy';
    color: #713C25;
    font-size: 17px;
    position: absolute;
    z-index: 202;
    margin-left: 70px;
    margin-top: 340px;
}
.img-1{
    max-width: 295px;
    width: 100%;
    margin-left: 95px;
    position: absolute;
    bottom: 20px;
}

.see-more{
    color: burlywood;
    font-size: 17px;
    width: 80px;
    height: 25px;
    background: #BE6C42;
    cursor: pointer;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 2s;
         -o-transition-duration: 2s;
            transition-duration: 2s;
    width: 100px;
    font-family: 'Gilroy';
    padding: 5%;
}

.arrow{
    width: 80px;
    height: 25px;
    margin-bottom: 200px;
    position: absolute;
    top: 740px;
    left: 220px;  
    -webkit-transition-property: width;  
    -o-transition-property: width;  
    transition-property: width;
    -webkit-transition-duration: 4s;
         -o-transition-duration: 4s;
            transition-duration: 4s;
}

.see-more:hover{
    width: 150px;
}

.first-div-about{
    max-width: 1200px; 
    width: 100%;
    margin: 0 auto;
}

.img-about{
   padding-top: 40px;
    width: 100%;
    height: auto;
    position: relative;
}

.real{
    font-size: 84px;
    color: #421b0a;
    position: absolute;
    width: 650px;
    top: 250px;
    left: 100px;
    font-family: 'Gilroy';
}

.about-p{
    font-size: 19px;
    width: 450px;
    height: auto;
    position: absolute;
    top: 800px;
    left: 100px;
    font-family: 'Gilroy';
    color: #421b0a;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.about-p-2{
    font-size: 19px;
    width: 400px;
    height: auto;
    position: absolute;
    top: 800px;
    left: 640px;
    font-family: 'Gilroy';
    color: #421b0a;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
}

.about-footer{
    position: absolute;
    top: 1500px;
    left: 100px;
}

.contact-h2{
    font-size: 40px;
    font-family: 'Gilroy';
    color: #713C25;
    margin: 130px auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.contact{
    margin: 0 auto;
    font-size: 30px;
    color: #713C25;
    width: 300px;
    font-family: 'Gilroy';
    text-align: center;
    padding-bottom: 30px;
}


/* formebi */
.form-elements{
    max-width: 620px;
    width: 100%;
    height: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}



.forms{
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.forms-div{
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    height: 70px;
    font-family: 'Gilroy';
}

.forms-div-2{
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    height: 70px;
    /* border: 0.5px solid #745C26; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.textarea{
    border: 0.5px solid #745C26;
    max-width: 620px;
    width: 100%;
    height: 160px;
    background: #ddcdac;
    border-radius: 5px;
    resize: none;
    outline: none;
}
.textarea::-webkit-input-placeholder{
    background: #ddcdac;
    max-width: 620px;
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 15px;
    color: #745C26;
    font-family: 'Gilroy';
}
.textarea::-moz-placeholder{
    background: #ddcdac;
    max-width: 620px;
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 15px;
    color: #745C26;
    font-family: 'Gilroy';
}
.textarea:-ms-input-placeholder{
    background: #ddcdac;
    max-width: 620px;
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 15px;
    color: #745C26;
    font-family: 'Gilroy';
}
.textarea::-ms-input-placeholder{
    background: #ddcdac;
    max-width: 620px;
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 15px;
    color: #745C26;
    font-family: 'Gilroy';
}
.textarea::placeholder{
    background: #ddcdac;
    max-width: 620px;
    width: 100%;
    height: 150px;
    outline: none;
    font-size: 15px;
    color: #745C26;
    font-family: 'Gilroy';
}

.input-box{
    border: 0.5px solid #745C26; 
    background: #ddcdac; 
    max-width: 300px;
    width: 100%;
    height: 70px;
    outline: none;
}


.input-box::-webkit-input-placeholder{
    font-size: 14px;
    margin: 0 auto;
    color: #745C26;
    font-family: 'Gilroy';
}


.input-box::-moz-placeholder{
    font-size: 14px;
    margin: 0 auto;
    color: #745C26;
    font-family: 'Gilroy';
}


.input-box:-ms-input-placeholder{
    font-size: 14px;
    margin: 0 auto;
    color: #745C26;
    font-family: 'Gilroy';
}


.input-box::-ms-input-placeholder{
    font-size: 14px;
    margin: 0 auto;
    color: #745C26;
    font-family: 'Gilroy';
}


.input-box::placeholder{
    font-size: 14px;
    margin: 0 auto;
    color: #745C26;
    font-family: 'Gilroy';
}

.budget-celect{
    max-width: 20px;
    height: 30px;
    border: none;
    background: none;
    color: #745C26; 

}

.submit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 241px;
    width: 100%;
    height: 83px;
    background: var(--box-background);
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 70px;
}
.submit:hover{
    background:#517931;
}
.submit-box{
    background: none;
    border: none;
    font-size: 15px;
    color:#F7E7CE;
    cursor: pointer;
}

.submit{
    max-width: 140px;
    height: 50px;
    background:#BE6C42;
    margin-left: 480px;
    cursor: pointer;
}

.contact-info{
    max-width: 600px;
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}

.example-email{
    color: #745C26;
}


.contact-meil{
    color:#421b0a;
    font-family: 'Gilroy';
}

.span{
    color: #BE6C42;
    font-size: 50px;
    font-weight: bolder;
}

.Copyright{
    margin-bottom: 20px;
    max-width: 110px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.Copyright-contact{
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.fa-copyright{
    color: #713C25;
} 

.click-box{
    max-width: 200px;
    width: 100%;
    height: 40px;
    background:#8d4628;
    margin-top: 320px;
    margin-left: 16px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.click-box:hover{
    background: #517931;
}

.click:hover{
    color:aliceblue;
    cursor: pointer;
}

.click{
    max-width: 300px;
    height: 38px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
    color:#e4b8a0;
    font-family: 'Gilroy';
}

.click-about{
    position: absolute;
    width: 330px;
    height: 40px;
    background:#8d4628;
    top: 1050px;
    left: 100px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.click-about:hover{
    background: #517931;
}